.badge {
  cursor: pointer;
  font-size: 90%;
  margin-right: 10px;

  span.remove {
    display: none;
  }

  &.badge-secondary {
    &:hover {
      background-color: $cyan;
    }
  }
  &.badge-primary {
    &:hover {
      span.remove {
        display: inline-block;
      }
    }
  }
}
