.btn-link--gray {
  color: $gray-500;
  &:hover {
    color: $gray-200;
  }
}

.btn-link--dark {
  color: $gray-900;
  &:hover {
    color: $gray-500;
  }
}

.btn-link--white {
  color: $white;
  &:hover {
    color: $white;
  }
}