.results {

  .item { /* Masonry bricks or child elements */
    //background-color: #eee;
    //display: inline-block;
    //margin: 0 0 1em;
    //width: 100%;

    .bike_type {
      right: 5px;
      color: $gray-500;
    }

    .avatar {
      text-align: center;
      img {
        max-width: 100%;
      }
    }

    .bike_info {
      padding: 5%;
      .name {
        color: $warm;
      }
      .features {
        font-size: 90%;
        > div {
          overflow: auto;
        }
      }
    }
  }
}


@media (min-width: 375px) {
  .results {
    .masonry { /* Masonry container */
      column-count: 2;
      column-gap: 1em;
    }
  }
}

@media (min-width: 768px) {
  .results {
    .masonry { /* Masonry container */
      column-count: 3;
      column-gap: 1em;
    }
  }
}

@media (min-width: 1024px) {
  .results {
    .masonry { /* Masonry container */
      column-count: 4;
      column-gap: 1em;
    }
  }
}


