@import "~bootstrap/scss/bootstrap";

// Core variables and mixins
@import "variables";
@import "mixins";
// Global CSS
@import "global";
// Components
@import "masthead";
@import "footer";
@import "typography";
@import "links";
@import "buttons";
@import "badge";
@import "results";
@import "modal";

.app {
  margin: 0 auto;
  max-width: 1024px;
}
.footer{
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.cursor-pointer{
  cursor: pointer;
}
.oauto {
  overflow: auto;
}
.card-body {
  overflow: hidden;
}
img {
  max-width: 100%;
}
img.logo {
  width: 75px;
}
.logo-text {
  position: absolute;
  left: 100px;
  bottom: 18px;
}
.x-small{
  font-size: 60%;
}
.icon-big {
  font-size: 400%;
  color: black;
  font-weight: bold;
  font-family: monospace;
}
.carousel-item {
  width: 80%;
  margin: 0 10%;
}
.carousel-control-prev,
.carousel-control-next {
  display: block;
  top: 100px;
  cursor: pointer;
}
.carousel-control-prev {
  left: -25px;
}
.carousel-control-next {
  right: -25px;
}
