<!--The content below is only a placeholder and can be replaced.-->
<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
  <div class="">
    <img class="logo" src="https://marek-sonnabend.de/images/logo.png">
    <div class="logo-text small font-italic">präsentiert den Fahrrad-Finder (Beta)</div>
  </div>
</nav>

<!-- Masthead -->
<header class="masthead text-white text-center">
  <div class="overlay" *ngIf="(isBikesLoading$ | async)">
    <div class="flex-center">
      Einen Moment bitte. Wir suchen ein passendes Fahrrad für Sie.
    </div>
  </div>
  <div class="container">

    <div class="row" >

      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">Finde das passende Fahrrad.</h1>
      </div>

      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">

          <form [formGroup]="searchQueryForm" (submit)="submitForm()" *ngIf="!(isBikesLoading$ | async)">

            <div class="form-row">

              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="email" class="form-control form-control-lg" formControlName="searchQuery" placeholder="Was suchst du ?">
              </div>

              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Los</button>
              </div>

              <div class="col-12 mt-2 text-center">
                z.B.
                <span *ngFor="let suggestion of suggestions; let i = index">
                  &quot;<span class="btn-link btn-link--white" (click)="setSearchQuery(suggestion)">{{suggestion}}</span>&quot;
                  <span *ngIf="i + 1 < suggestions.length"> oder </span>
                </span>
              </div>
              <div class="col-12 mt-2 text-center font-weight-bold">
                <a routerLink="/helfer" class="font-weight-bold btn-link--white"> Oder nutzen Sie unseren Helfer </a>
              </div>
            </div>

          </form>

      </div>
    </div>
  </div>
</header>

<section>
  <div class="mt-3">
    <div class="alert alert-danger" role="alert" *ngIf="(hasBikesError$ | async)">
      Ein Fehler bei der Verbindung mit dem Server trat auf
    </div>
  </div>
</section>

<section *ngIf="(bikes$ | async)?.bike_types as bike_types">
  <div class="m-3" *ngIf="bike_types.length > 0">
    <div class="card">
      <div *ngIf="bike_types.length === 1 && bike_types[0].length === 0">
        <div class="card-body">
          Leider konnten keine passenden Fahrräder gefunden werden.
        </div>
      </div>
      <div class="card-header">
        Filter
      </div>
      <div class="card-body">
        <div>
          Um die Ergebnisse einzugrenzen, nutzen Sie bitte die folgenden Filter, in dem Sie auf das gewünschte Merkmal klicken.
        </div>
        <div *ngIf="bike_types.length > 0 && bike_types[0].length !== 0">
          <div>
            <span class="font-weight-bold mr-1"><a class="btn-link btn-link--dark font-weight-bold mr-1" routerLink="/fahrradtypen">Fahrradtyp(en) &#9432;</a>:</span>
            <span
              class="badge"
              *ngFor="let bike_type of bike_types"
              (click)="toggleBikeTypeSelection(bike_type.bike_type_id)"
              [ngClass]="isSelectedBikeType(bike_type.bike_type_id) ? 'badge-primary' : 'badge-secondary'">
              {{bike_type.name}}
              <span class="remove">x</span>
            </span>
          </div>
        </div>

        <div *ngIf="(bikes$ | async)?.bikes as bikes">
          <div *ngIf="bikes.length > 0">
            <div *ngIf="filterOn">
              <div>
                <span class="font-weight-bold mr-1">Hersteller:</span>
                <span
                  *ngFor="let manufacturer of manufacturers"
                >
                  <span
                    class="badge"
                    (click)="toggleManufacturerSelection(manufacturer)"
                    [ngClass]="isSelectedManufacturer(manufacturer) ? 'badge-primary' : 'badge-secondary'">
                    {{manufacturer}}
                  </span>
                </span>
              </div>
              <div>
                <span class="font-weight-bold mr-1"><a class="btn-link btn-link--dark font-weight-bold mr-1" routerLink="/rahmen">Rahmen &#9432;</a>: </span>
                <span
                  *ngFor="let frame of frames"
                >
                  <span
                    class="badge"
                    (click)="toggleFrameSelection(frame)"
                    [ngClass]="isSelectedFrameType(frame) ? 'badge-primary' : 'badge-secondary'">
                    {{frame}}
                  </span>
                </span>
              </div>
              <div>
                <span class="font-weight-bold mr-1"><a class="btn-link btn-link--dark font-weight-bold mr-1" routerLink="/rahmengroessen">Rahmengrößen &#9432;</a>: </span>
                <span
                  *ngFor="let framesize of framesizes"
                >
                  <span
                    class="badge"
                    (click)="toggleFrameSizeSelection(framesize)"
                    [ngClass]="isSelectedFrameSize(framesize) ? 'badge-primary' : 'badge-secondary'">
                    {{framesize}}
                  </span>
                </span>
              </div>
              <div>
                <span class="font-weight-bold mr-1"><a class="btn-link btn-link--dark font-weight-bold mr-1" routerLink="/schaltungen">Schaltung &#9432;</a>:</span>
                <span
                  *ngFor="let schaltung of schaltungen"
                >
                  <span
                    class="badge"
                    (click)="toggleSchaltungenSelection(schaltung)"
                    [ngClass]="isSelectedSchaltung(schaltung) ? 'badge-primary' : 'badge-secondary'">
                    {{schaltung}}
                  </span>
                </span>
              </div>
              <div>
                <span class="font-weight-bold mr-1"><a class="btn-link btn-link--dark font-weight-bold mr-1" routerLink="/schaltgruppen">Schaltgruppe &#9432;</a>:</span>
                <span
                  *ngFor="let schaltgruppe of schaltgruppen"
                >
                  <span
                    *ngIf="includes(bikes, 'schaltgruppe', schaltgruppe)" class="badge"
                    (click)="toggleSchaltgruppeSelection(schaltgruppe)"
                    [ngClass]="isSelectedSchaltgruppe(schaltgruppe) ? 'badge-primary' : 'badge-secondary'">
                    {{schaltgruppe}}
                  </span>
                </span>
              </div>
              <div>
                <span class="font-weight-bold mr-1"><a class="btn-link btn-link--dark font-weight-bold mr-1" routerLink="/bremsen">Bremsen &#9432;</a>:</span>
                <span
                  *ngFor="let bremse of bremsen"
                >
                  <span
                    *ngIf="includes(bikes, 'break_type', bremse)" class="badge"
                    (click)="toggleBremsenSelection(bremse)"
                    [ngClass]="isSelectedBremse(bremse) ? 'badge-primary' : 'badge-secondary'">
                    {{bremse}}
                  </span>
                </span>
              </div>
              <div *ngIf="folks.length > 0">
                <span class="font-weight-bold mr-1"><a class="btn-link btn-link--dark font-weight-bold mr-1" routerLink="/gabel">Gabel &#9432;</a>:</span>
                <span
                  *ngFor="let gabel of folks"
                >
                  <span
                    *ngIf="includes(bikes, 'gabel', gabel)" class="badge"
                    (click)="toggleFolkSelection(gabel)"
                    [ngClass]="isSelectedFolk(gabel) ? 'badge-primary' : 'badge-secondary'">
                    {{gabel}}
                  </span>
                </span>
              </div>
              <div *ngIf="antriebe.length > 0">
                <span class="font-weight-bold mr-1"><a class="btn-link btn-link--dark font-weight-bold mr-1" routerLink="/antrieb">Antrieb &#9432;</a>:</span>
                <span
                  *ngFor="let antrieb of antriebe"
                >
                  <span
                    *ngIf="includes(bikes, 'antrieb', antrieb)" class="badge"
                    (click)="toggleAntriebeSelection(antrieb)"
                    [ngClass]="isSelectedAntrieb(antrieb) ? 'badge-primary' : 'badge-secondary'">
                    {{antrieb}}
                  </span>
                </span>
              </div>
            </div>
            <div class="text-right">
              <span class="btn-link small" *ngIf="!filterOn" (click)="toggleFilter()">
                Weitere Filter einblenden (+)
              </span>
              <span class="btn-link small" *ngIf="filterOn" (click)="toggleFilter()">
                Weitere Filter ausblenden (-)
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="results">
  <div class="m-3" *ngIf="(bikesFiltered$ | async) as bikes">
    <div class="row mt-3 mb-3" *ngIf="bikes.length > 0">
      <div class="col-6 text-left">
        Ergebnisse:
      </div>
      <div class="col-6 text-right">
        <select (change)="sortBy($event)">
          <option disabled>Sortieren</option>
          <option class="dropdown-item" [selected]="sortAttribute === 'NAME_ASC'" value="'NAME_AS'NAME_ASCC">Name ▲</option>
          <option class="dropdown-item" [selected]="sortAttribute === 'NAME_DESC'" value="NAME_DESC">Name ▼</option>
          <option class="dropdown-item" [selected]="sortAttribute === 'PRICE_ASC'" value="PRICE_ASC">Preis ▲</option>
          <option class="dropdown-item" [selected]="sortAttribute === 'PRICE_DESC'" value="PRICE_DESC">Preis ▼</option>
        </select>
      </div>
    </div>
    <div class="row mt-3" *ngIf="bikes.length > 0">
      <div class="item col-12 col-md-6 col-lg-4" *ngFor="let bike of bikes">
        <div class="position-relative">
          <div class="position-absolute bike_type">
            {{bike.name_bike_type}}
          </div>
          <div
            class="avatar cursor-pointer"
            (click)="forwardToBike(bike)"
            lazy-load-images>
              <img src="./assets/img/blank.png" [attr.data-src]="bike.img_url">
          </div>
          <div class="bike_info">
            <h4 class="name cursor-pointer" (click)="forwardToBike(bike)">{{bike.name}}</h4>
            <div class="features">
              <div>
                Hersteller: <span class="float-right">{{bike.manufacturer}}</span>
              </div>
              <div>
                <a class="btn-link btn-link--dark" routerLink="/rahmen">Rahmen &#9432;</a>: <span class="float-right">{{bike.frame}}</span>
              </div>
              <div>
                <a class="btn-link btn-link--dark" routerLink="/rahmengroessen">Rahmengrößen &#9432;</a>: <span class="float-right">{{splitString(bike.framesize)}}</span>
              </div>
              <div>
                <a class="btn-link btn-link--dark" routerLink="/schaltungen">Schaltung &#9432;</a>: <span class="float-right">{{bike.gearing_type}}</span>
              </div>
              <div>
                <a class="btn-link btn-link--dark" routerLink="/schaltgruppen">Schaltgruppe &#9432;</a>: <span class="float-right">{{bike.schaltgruppe}}</span>
              </div>
              <div>
                <a class="btn-link btn-link--dark" routerLink="/bremsen">Bremsen &#9432;</a>: <span class="float-right">{{bike.break_type}}</span>
              </div>
              <div *ngIf="bike.antrieb.length > 2">
                <a class="btn-link btn-link--dark" routerLink="/antrieb">Antrieb &#9432;</a>: <span class="float-right">{{bike.antrieb}}</span>
              </div>
              <div *ngIf="bike.gabel.length > 2">
                <a class="btn-link btn-link--dark" routerLink="/gabel">Gabel &#9432;</a>: <span class="float-right">{{bike.gabel}}</span>
              </div>
              <div *ngIf="bike.fahrwerk.length > 2">
                Fahrwerk: <span class="float-right">{{bike.fahrwerk}}</span>
              </div>
              <div *ngIf="bike.wheel_manufacturer.length > 2">
                Laufräder von <span class="float-right">{{bike.wheel_manufacturer}}</span>
              </div>
              <div *ngIf="bike.wheelsize_in_inches !== '0'">
                Laufradgröße <span class="float-right">{{bike.wheelsize_in_inches}} Zoll</span>
              </div>
              <div>
                Normalpreis : <h5 class="float-right font-weight-bold">{{bike.price_from_in_euro}} &euro;</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3" *ngIf="bikes.length == 0">
      <div class="w-100 text-center alert alert-secondary" role="alert">
        (Noch) keine Ergebnisse auf Ihre Suchanfrage bzw. Sie haben noch keine Suchanfrage gestellt.
      </div>
    </div>
  </div>
</section>

<section class="results">
  <div class="m-3" *ngIf="(userHistory$ | async) as bikes">
    <div class="row mt-3 mb-3" *ngIf="bikes.length > 0">
      <div class="col-xs-12 col-md-6 offset-md-3 text-center">
        Zuletzt wurden folgende Fahrräder von Ihnen angesehen:
      </div>
    </div>
    <ng-container *ngIf="bikes.length > 0">
      <div class="carousel slide col-xs-12 col-md-6 offset-md-3" data-ride="carousel">
        <div class="carousel-inner">
          <ng-container *ngFor="let bike of bikes; let i = index">
          <div class="carousel-item item" [ngClass]="isActiveSlide(i) ? 'active': ''">
            <div class="position-relative">
              <div class="position-absolute bike_type">
                {{bike.name_bike_type}}
              </div>
              <div class="avatar cursor-pointer"
                   (click)="forwardToBike(bike)"
                   lazy-load-images>
                <img src="./assets/img/blank.png" [attr.data-src]="bike.img_url">
                <div class="x-small">Quelle: {{bike.url}}</div>
              </div>
              <div class="bike_info">
                <h4 class="name cursor-pointer" (click)="forwardToBike(bike)">{{bike.name}}</h4>
                <div class="features">
                  <div>
                    Hersteller: <span class="float-right">{{bike.manufacturer}}</span>
                  </div>
                  <div>
                    <a class="btn-link btn-link--dark" routerLink="/rahmen">Rahmen &#9432;</a>: <span class="float-right">{{bike.frame}}</span>
                  </div>
                  <div>
                    <a class="btn-link btn-link--dark" routerLink="/rahmengroessen">Rahmengrößen &#9432;</a>: <span class="float-right">{{splitString(bike.framesize)}}</span>
                  </div>
                  <div>
                    <a class="btn-link btn-link--dark" routerLink="/schaltungen">Schaltung &#9432;</a>: <span class="float-right">{{bike.gearing_type}}</span>
                  </div>
                  <div>
                    <a class="btn-link btn-link--dark" routerLink="/schaltgruppen">Schaltgruppe &#9432;</a>: <span class="float-right">{{bike.schaltgruppe}}</span>
                  </div>
                  <div>
                    <a class="btn-link btn-link--dark" routerLink="/bremsen">Bremsen &#9432;</a>: <span class="float-right">{{bike.break_type}}</span>
                  </div>
                  <div *ngIf="bike.antrieb.length > 2">
                    <a class="btn-link btn-link--dark" routerLink="/antrieb">Antrieb &#9432;</a>: <span class="float-right">{{bike.antrieb}}</span>
                  </div>
                  <div *ngIf="bike.gabel.length > 2">
                    <a class="btn-link btn-link--dark" routerLink="/gabel">Gabel &#9432;</a>: <span class="float-right">{{bike.gabel}}</span>
                  </div>
                  <div *ngIf="bike.fahrwerk.length > 2">
                    Fahrwerk: <span class="float-right">{{bike.fahrwerk}}</span>
                  </div>
                  <div *ngIf="bike.wheel_manufacturer.length > 2">
                    Laufräder von <span class="float-right">{{bike.wheel_manufacturer}}</span>
                  </div>
                  <div *ngIf="bike.wheelsize_in_inches !== '0'">
                    Laufradgröße <span class="float-right">{{bike.wheelsize_in_inches}} Zoll</span>
                  </div>
                  <div>
                    Normalpreis : <h5 class="float-right font-weight-bold">{{bike.price_from_in_euro}} &euro;</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </ng-container>
        </div>
        <a class="carousel-control-prev" (click)="slide(-1, bikes.length)" role="button" data-slide="prev">
          <span class="icon-big"> < </span>
        </a>
        <a class="carousel-control-next" (click)="slide(1, bikes.length)" role="button" data-slide="next">
          <span class="icon-big"> > </span>
        </a>
      </div>
    </ng-container>
  </div>
</section>

<section>
  <div class="m-3">
    <div class="row mt-3 mb-3">
      <div class="card">
        <div class="card-header">
          Welches Fahrrad passt zu mir?
        </div>
        <div class="card-body">
          Wir versuchen anhand ihrer Anfrage eine passendes Fahrrad für Sie zu finden.
          Somit finden Sie hoffentlich das Fahrrad, daß am Besten zu Ihnen und Ihren Ansprüchen passt.
          . Alles hängt davon ab, was Sie in die Suchmaske eintragen. Je konkreter die Suchanfrage,
          desto relevanter sind die Resultate. Eine abstrakte Suche nach Fahrrädern kann wenig
          relevante Resultate hervorbringen. Wir arbeiten dauerhaft an einer Verbesserung der Relevanz.
          Dafür speichern wir jede Suchanfrage - vollkommen anonymisiert. Am Ende profitieren andere
          Menschen, wenn sich nach einem passenden Fahrrad suchen. Wir hoffen auf Ihr Verständnis.
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal-backdrop"
     *ngIf="router.url == '/rahmen' ||
     router.url == '/rahmengroessen' ||
     router.url == '/fahrradtypen' ||
     router.url == '/schaltungen' ||
     router.url == '/schaltgruppen' ||
     router.url == '/bremsen' ||
     router.url == '/gabel' ||
     router.url == '/antrieb' ||
     router.url == '/datenschutz' ||
     router.url == '/impressum' ||
     router.url == '/helfer'">
</div>

<div *ngIf="router.url == '/helfer'" class="modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ok, dann lassen Sie uns mal zusammen eine Suchanfrage zusammenstellen</h5>
        <a class="close" routerLink="/">x</a>
      </div>
      <div class="modal-body">
        <div *ngIf="constructedSearchQuery.length > 0">
          Ihre Suchanfrage :
          <h5 class="font-italic font-weight-bold">
            {{constructedSearchQuery}}
          </h5>
          <div class="oauto">
            <a class="btn btn-link float-left" (click)="resetSearchQuery()">Zurücksetzen</a>
            <a class="btn btn-primary float-right" (click)="useSearchQuery(constructedSearchQuery)">Übernehmen</a>
          </div>
        </div>
        <div class="mt-2 mb-2" *ngFor="let q of questions; let qIndex = index">
          <div>
            {{q.question}}
          </div>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <ng-container  *ngFor="let op of q.options; let oIndex = index">
              <label class="btn btn-info" [ngClass]="op.active ? 'active' : ''">
                <input type="radio" name="options" id="{{op.value}}" autocomplete="off" [checked]="op.active" (click)="toggleActive(op, qIndex, oIndex)"> {{op.display}}
              </label>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a routerLink="/">Zurück</a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="router.url == '/rahmen'" class="modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Rahmen</h5>
        <a class="close" routerLink="/">x</a>
      </div>
      <div class="modal-body">
        <div class="mt-2 mb-2">
          Die folgenden Rahmen sind typische Fahrradrahmen. Verschiedene Materialen weisen unterschiedliche Merkmale auf.
        </div>
        <div class="accordion">
          <div class="card" *ngFor="let frameType of frameTypes">
            <div class="card-header">
              <h5 class="mb-0" (click)="toggleFrameType(frameType.id)">
                {{frameType.name}}
                <div class="float-right">
                  <span class="btn-link small" *ngIf="!isVisibleFrameType(frameType.id)"> aufklappen + </span>
                  <span class="btn-link small" *ngIf="isVisibleFrameType(frameType.id)"> zuklappen - </span>
                </div>
              </h5>
            </div>
            <div class="collapse" [ngClass]="isVisibleFrameType(frameType.id) ? 'show' : 'hide'">
              <div class="card-body">
                <div>
                  {{frameType.description}}
                </div>
                <div *ngIf="frameType.image_url" lazy-load-images>
                  <img src="./assets/img/blank.png" [attr.data-src]="frameType.image_url" />
                  <div class="x-small">Quelle: {{frameType.image_source}} ({{frameType.image_url}})</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a routerLink="/">Zurück</a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="router.url == '/rahmengroessen'" class="modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Rahmengrößen</h5>
        <a class="close" routerLink="/">x</a>
      </div>
      <div class="modal-body">
        <div class="mt-2 mb-2">
          Die Größe des Rahmens bezieht sich meist auf den Abstand zwischen oberen Ende des Sitzrohrs und der Mitte des Tretlager.
          Allerdings gibt es hier auch Unterschiede zwischen den Fahrradherstellern. Daher wird dringend empfohlen, die genauen
          geometrischen Daten des jeweiligen Fahrrads in Erfahrung zu bringen.
        </div>
        <div class="mt-2 mb-2" lazy-load-images>
          <img src="./assets/img/blank.png" [attr.data-src]="'https://www.rad1.de/media/image/92/4c/0c/Rahmen.jpg'">
        </div>
        <div class="mt-2 mb-2">
          Die richtige Rahmengröße hängt letztlich aber von der Körpergrösse und der gewünschten Sitzhaltung ab. Mehr dazu auf <a href="https://www.fahrradreparatur.net/fahrrad-rahmenhoehe-rahmengroesse/">www.fahrradreparatur.net</a>
        </div>
      </div>
      <div class="modal-footer">
        <a routerLink="/">Zurück</a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="router.url == '/fahrradtypen'" class="modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Fahrradtypen</h5>
        <a class="close" routerLink="/">x</a>
      </div>
      <div class="modal-body">
        <div class="mt-2 mb-2">
          Fahrräder können aufgrund unterschiedlicher Merkmale in folgende Typen unterteilt werden.
        </div>
        <div class="accordion">
          <div class="card" *ngFor="let bikeType of bikeTypes">
            <div class="card-header">
              <h5 class="mb-0" (click)="toggleBikeType(bikeType.id)">
                {{bikeType.name}}
                <div class="float-right">
                  <span class="btn-link small" *ngIf="!isVisibleBikeType(bikeType.id)"> aufklappen + </span>
                  <span class="btn-link small" *ngIf="isVisibleBikeType(bikeType.id)"> zuklappen - </span>
                </div>
              </h5>
            </div>
            <div class="collapse" [ngClass]="isVisibleBikeType(bikeType.id) ? 'show' : 'hide'">
              <div class="card-body">
                <div>
                  {{bikeType.description}}
                </div>
                <div *ngIf="bikeType.image_url" lazy-load-images>
                  <img src="./assets/img/blank.png" [attr.data-src]="bikeType.image_url" />
                  <div class="x-small">Quelle: {{bikeType.image_source}} ({{bikeType.image_url}})</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a routerLink="/">Zurück</a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="router.url == '/schaltungen'" class="modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Schaltungen</h5>
        <a class="close" routerLink="/">x</a>
      </div>
      <div class="modal-body">
        <div class="mt-2 mb-2">
          Fahrräder können folgende Schaltungen haben.
        </div>
        <div class="accordion">
          <div class="card" *ngFor="let gearingType of gearingTypes">
            <div class="card-header">
              <h5 class="mb-0">
                {{gearingType.name}}
              </h5>
            </div>
            <div class="collapse show">
              <div class="card-body">
                <div>
                  {{gearingType.description}}
                </div>
                <div *ngIf="gearingType.image_url" lazy-load-images>
                  <img src="./assets/img/blank.png" [attr.data-src]="gearingType.image_url" />
                  <div class="x-small">Quelle: {{gearingType.image_source}} ({{gearingType.image_url}})</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a routerLink="/">Zurück</a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="router.url == '/schaltgruppen'" class="modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Schaltgruppen</h5>
        <a class="close" routerLink="/">x</a>
      </div>
      <div class="modal-body">
        <div class="mt-2 mb-2">
          Die folgenden Firmen sind die größten und bekanntesten Hersteller von Schaltgruppen für Fahrräder.
        </div>

        <div class="accordion">
          <div class="card" *ngFor="let gearingManufacturer of gearingManufacturers">
            <div class="card-header">
              <h5 class="mb-0" (click)="toggleGearingManufacturer(gearingManufacturer.id)">
                {{gearingManufacturer.name}}
                <div class="float-right">
                  <span class="btn-link small" *ngIf="!isVisibleGearingManufacturer(gearingManufacturer.id)"> aufklappen + </span>
                  <span class="btn-link small" *ngIf="isVisibleGearingManufacturer(gearingManufacturer.id)"> zuklappen - </span>
                </div>
              </h5>
            </div>
            <div class="collapse" [ngClass]="isVisibleGearingManufacturer(gearingManufacturer.id) ? 'show' : 'hide'">
              <div class="card-body">
                <div>
                  {{gearingManufacturer.description}}
                </div>
                <div *ngIf="gearingManufacturer.image_url" class="mt-3 mb-3" lazy-load-images="">
                  <img src="./assets/img/blank.png" [attr.data-src]="gearingManufacturer.image_url" />
                  <div class="x-small">Quelle: {{gearingManufacturer.image_source}} ({{gearingManufacturer.image_url}})</div>
                </div>
                <div>
                  Verfügbare Schaltgruppen <span class="small">(nach Wertigkeit absteigent sortiert)</span> :
                  <div class="mt-3" *ngFor="let gruppe of gearingManufacturer.gruppen">
                    <span class="font-italic mr-1">Für {{gruppe.id}}:</span>
                    <span *ngFor="let gruppeName of gruppe.groups">
                      {{gruppeName}},
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a routerLink="/">Zurück</a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="router.url == '/bremsen'" class="modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Bremsen</h5>
        <a class="close" routerLink="/">x</a>
      </div>
      <div class="modal-body">
        <div class="mt-2 mb-2">
          Fahrräder können folgende verschiedene Bremsen / Bremssysteme haben.
        </div>
        <div class="accordion">
          <div class="card" *ngFor="let breakingType of breakingTypes">
            <div class="card-header">
              <h5 class="mb-0">
                {{breakingType.name}}
              </h5>
            </div>
            <div class="collapse show">
              <div class="card-body">
                <div>
                  {{breakingType.description}}
                </div>
                <div *ngIf="breakingType.image_url" lazy-load-images>
                  <img src="./assets/img/blank.png" [attr.data-src]="breakingType.image_url" />
                  <div class="x-small">Quelle: {{breakingType.image_source}} ({{breakingType.image_url}})</div>
                </div>
                <div>
                  Vorteile:
                  <ul>
                    <li *ngFor="let attr of breakingType.advantages">{{attr}}</li>
                  </ul>
                </div>
                <div>
                  Nachteile:
                  <ul>
                    <li *ngFor="let attr of breakingType.disadvantages">{{attr}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a routerLink="/">Zurück</a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="router.url == '/gabel'" class="modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Gabeln</h5>
        <a class="close" routerLink="/">x</a>
      </div>
      <div class="modal-body">
        <div class="mt-2 mb-2">
          Fahrräder können folgende verschiedene Gabeln / Gabelarten haben.
        </div>
        <div class="accordion">
          <div class="card" *ngFor="let folkType of folkTypes">
            <div class="card-header">
              <h5 class="mb-0">
                {{folkType.name}}
              </h5>
            </div>
            <div class="collapse show">
              <div class="card-body">
                <div>
                  {{folkType.description}}
                </div>
                <div *ngIf="folkType.image_url" lazy-load-images>
                  <img src="./assets/img/blank.png" [attr.data-src]="folkType.image_url" />
                  <div class="x-small">Quelle: {{folkType.image_source}} ({{folkType.image_url}})</div>
                </div>
                <div>
                  Vorteile:
                  <ul>
                    <li *ngFor="let attr of folkType.advantages">{{attr}}</li>
                  </ul>
                </div>
                <div>
                  Nachteile:
                  <ul>
                    <li *ngFor="let attr of folkType.disadvantages">{{attr}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a routerLink="/">Zurück</a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="router.url == '/antrieb'" class="modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Antrieb</h5>
        <a class="close" routerLink="/">x</a>
      </div>
      <div class="modal-body">
        <div class="mt-2 mb-2">
          E-Bikes bzw. Pedelecs benötigen einen Motor, um angetrieben zu werden. Es wird dabei zwischen folgenden Typen von Antrieben entschieden.
        </div>
        <div class="accordion">
          <div class="card" *ngFor="let antriebType of antriebTypes">
            <div class="card-header">
              <h5 class="mb-0">
                {{antriebType.name}}
              </h5>
            </div>
            <div class="collapse show">
              <div class="card-body">
                <div>
                  {{antriebType.description}}
                </div>
                <div *ngIf="antriebType.image_url" lazy-load-images>
                  <img src="./assets/img/blank.png" [attr.data-src]="antriebType.image_url" />
                  <div class="x-small">Quelle: {{antriebType.image_source}} ({{antriebType.image_url}})</div>
                </div>
                <div>
                  Vorteile:
                  <ul>
                    <li *ngFor="let attr of antriebType.advantages">{{attr}}</li>
                  </ul>
                </div>
                <div>
                  Nachteile:
                  <ul>
                    <li *ngFor="let attr of antriebType.disadvantages">{{attr}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          Eine komplette Übersicht bekommen Sie hier <a target="_blank" href="https://www.emotion-technologies.de/e-bike-infos/e-bike-pedelec-antriebe/">https://www.emotion-technologies.de/e-bike-infos/e-bike-pedelec-antriebe/</a>
        </div>
      </div>
      <div class="modal-footer">
        <a routerLink="/">Zurück</a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="router.url == '/impressum'" class="modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Impressum</h5>
        <a class="close" routerLink="/">x</a>
      </div>
      <div class="modal-body">
        <div class="mt-2 mb-2">
          <p>
            Herausgeber dieser Webseiten :
          </p>
          <p>
            Marek Sonnabend<br />
            Torellstrasse 2<br />
            10243 Berlin<br />
            Email: i@marek-sonnabend.de
          </p>
          <p>
            <i>Urheberrechte</i>
          </p>
          <p>
            &copy; Copyright Marek Sonnabend. Alle Rechte vorbehalten. Text, Bilder, Grafiken, Sound, Animationen und Videos sowie deren Anordnung auf den Marek Sonnabend Webseiten unterliegen dem Schutz des Urheberrechts und anderer Schutzgesetze.
          </p>
          <p>
            Der Inhalt dieser Website darf nicht zu kommerziellen Zwecken kopiert, verbreitet, verändert oder Dritten zugänglich gemacht werden. Wir weisen daraufhin, dass auf den Websites enthaltene Logos teilweise dem Urheberrecht Dritter unterliegen.
          </p>
          <p>
            <i>Markenzeichen</i>
          </p>
          <p>
            Soweit nicht anders angegeben, sind alle Markenzeichen auf diesen Webseiten markenrechtlich zugunsten von Marek Sonnabend geschützt. Dies gilt insbesondere für Marken und Logos.
          </p>
          <p>
            <i>Haftungsausschluss</i>
          </p>
          <p>
            Diese Webseiten wurden mit grösstmöglicher Sorgfalt zusammengestellt. Die Inhalte werden ständig erweitert und aktualisiert. Trotzdem kann keine Gewähr für die Fehlerfreiheit und Genauigkeit der enthaltenen Informationen übernommen werden. Jegliche Haftung für Schäden, die direkt oder indirekt aus der Benutzung dieser Webseiten entstehen, wird ausgeschlossen, soweit diese nicht auf Vorsatz oder grober Fahrlässigkeit beruhen.
          </p>
          <p>
            Am 12. Mai 1998 hat das Landgericht Hamburg entschieden, dass man durch das Ausbringen von Links unter Umständen die Inhalte der gelinkten Seiten mit zu verantworten hat. Daher distanzieren wir uns ausdrücklich von allen dort dargestellten Inhalten sowie von den gesamten Links, die auf den von uns gelinkten Seiten publiziert sind und übernehmen keine Verantwortung für deren Inhalte. Wir erklären uns ausschliesslich für die Webseiten verantwortlich, auf deren Gestaltung und Inhalt wir selbst Einfluss nehmen können. Sollten auf irgendeiner Seite illegale Links, Texte oder Downloads zu finden sein, bitten wir um eine sofortige Information, damit wir den betreffenden Link von unserer Seite entfernen können.
          </p>
          <p>
            <i>Nutzungsverbot</i>
          </p>
          <p>
            Es ist streng untersagt, diese Webseiten zu nutzen oder zu kontaktieren, um die Webseiten, ihre Inhalte oder Sicherheitsmassnahmen zu stören oder zu schädigen, oder Marek Sonnabend oder seine Produkte oder Dienstleistungen oder Mitarbeiter zu belästigen oder zu verunglimpfen. Es darf keine unaufgeforderte E-Mail (Spam mail) an oder über diese Webseiten verschickt werden.
          </p>
          <p>
            <i>Zustimmung</i>
          </p>
          <p>
            Durch die Nutzung dieser Webseiten akzeptiert der Nutzer diese Bedingungen und Konditionen, die jede Nutzung und deren Folgen hieraus regeln.
          </p>
          <p>
            <i>Änderungen</i>
          </p>
          <p>
            Marek Sonnabend behält sich das Recht vor, auf den Webseiten und an deren Bedingungen und Konditionen jederzeit änderungen vorzunehmen, die dann in Kraft treten, wenn die änderungen publiziert werden.
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <a routerLink="/">Zurück</a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="router.url == '/datenschutz'" class="modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Datenschutzerklärung</h5>
        <a class="close" routerLink="/">x</a>
      </div>
      <div class="modal-body">
        <div class="mt-2 mb-2">
          <p>Verantwortliche Stelle im Sinne der Datenschutzgesetze, insbesondere der EU-Datenschutzgrundverordnung (DSGVO), ist:</p>
          <p>Marek Sonnabend</p>
          <h2>Ihre Betroffenenrechte</h2>
          <p>Unter den angegebenen Kontaktdaten unseres Datenschutzbeauftragten können Sie jederzeit folgende Rechte ausüben:</p>
          <ul>
            <li>Auskunft über Ihre bei uns gespeicherten Daten und deren Verarbeitung,</li>
            <li>Berichtigung unrichtiger personenbezogener Daten,</li>
            <li>Löschung Ihrer bei uns gespeicherten Daten,</li>
            <li>Einschränkung der Datenverarbeitung, sofern wir Ihre Daten aufgrund gesetzlicher Pflichten noch nicht löschen dürfen,</li>
            <li>Widerspruch gegen die Verarbeitung Ihrer Daten bei uns und</li>
            <li>Datenübertragbarkeit, sofern Sie in die Datenverarbeitung eingewilligt haben oder einen Vertrag mit uns abgeschlossen haben.</li>
          </ul>
          <p>Sofern Sie uns eine Einwilligung erteilt haben, können Sie diese jederzeit mit Wirkung für die Zukunft widerrufen.</p>
          <p>Sie können sich jederzeit mit einer Beschwerde an die für Sie zuständige Aufsichtsbehörde wenden. Ihre zuständige Aufsichtsbehörde richtet sich nach dem Bundesland Ihres Wohnsitzes, Ihrer Arbeit oder der mutmaßlichen Verletzung. Eine Liste der Aufsichtsbehörden (für den nichtöffentlichen Bereich) mit Anschrift finden Sie unter: <a href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html" target="_blank" rel="noopener">https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a>.</p>
          <h2>Zwecke der Datenverarbeitung durch die verantwortliche Stelle und Dritte</h2>
          <p>Wir verarbeiten Ihre personenbezogenen Daten nur zu den in dieser Datenschutzerklärung genannten Zwecken. Eine Übermittlung Ihrer persönlichen Daten an Dritte zu anderen als den genannten Zwecken findet nicht statt. Wir geben Ihre persönlichen Daten nur an Dritte weiter, wenn:</p>
          <ul>
            <li>Sie Ihre ausdrückliche Einwilligung dazu erteilt haben,</li>
            <li>die Verarbeitung zur Abwicklung eines Vertrags mit Ihnen erforderlich ist,</li>
            <li>die Verarbeitung zur Erfüllung einer rechtlichen Verpflichtung erforderlich ist,</li>
          </ul>
          <p>die Verarbeitung zur Wahrung berechtigter Interessen erforderlich ist und kein Grund zur Annahme besteht, dass Sie ein überwiegendes schutzwürdiges Interesse an der Nichtweitergabe Ihrer Daten haben.</p>
          <h2>Löschung bzw. Sperrung der Daten</h2>
          <p>Wir halten uns an die Grundsätze der Datenvermeidung und Datensparsamkeit. Wir speichern Ihre personenbezogenen Daten daher nur so lange, wie dies zur Erreichung der hier genannten Zwecke erforderlich ist oder wie es die vom Gesetzgeber vorgesehenen vielfältigen Speicherfristen vorsehen. Nach Fortfall des jeweiligen Zweckes bzw. Ablauf dieser Fristen werden die entsprechenden Daten routinemäßig und entsprechend den gesetzlichen Vorschriften gesperrt oder gelöscht.</p>
          <h2>Registrierung auf unserer Webseite</h2>
          <p>Bei der Registrierung für die Nutzung unserer personalisierten Leistungen werden einige personenbezogene Daten erhoben, wie Name, Anschrift, Kontakt- und Kommunikationsdaten wie Telefonnummer und E-Mail-Adresse. Sind Sie bei uns registriert, können Sie auf Inhalte und Leistungen zugreifen, die wir nur registrierten Nutzern anbieten. Angemeldete Nutzer haben zudem die Möglichkeit, bei Bedarf die bei Registrierung angegebenen Daten jederzeit zu ändern oder zu löschen. Selbstverständlich erteilen wir Ihnen darüber hinaus jederzeit Auskunft über die von uns über Sie gespeicherten personenbezogenen Daten. Gerne berichtigen bzw. löschen wir diese auch auf Ihren Wunsch, soweit keine gesetzlichen Aufbewahrungspflichten entgegenstehen. Zur Kontaktaufnahme in diesem Zusammenhang nutzen Sie bitte die am Ende dieser Datenschutzerklärung angegebenen Kontaktdaten.</p>
          <h2>SSL-Verschlüsselung</h2>
          <p>Um die Sicherheit Ihrer Daten bei der Übertragung zu schützen, verwenden wir dem aktuellen Stand der Technik entsprechende Verschlüsselungsverfahren (z. B. SSL) über HTTPS.</p>
          <h2>Verwendung von Google Analytics</h2>
          <p>Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. (folgend: Google). Google Analytics verwendet sog. „Cookies“, also Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Webseite durch Sie ermöglichen. Die durch das Cookie erzeugten Informationen über Ihre Benutzung dieser Webseite werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Aufgrund der Aktivierung der IP-Anonymisierung auf diesen Webseiten, wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Webseite auszuwerten, um Reports über die Webseitenaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Webseitenbetreiber zu erbringen. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt.</p>
          <p>Die Zwecke der Datenverarbeitung liegen in der Auswertung der Nutzung der Website und in der Zusammenstellung von Reports über Aktivitäten auf der Website. Auf Grundlage der Nutzung der Website und des Internets sollen dann weitere verbundene Dienstleistungen erbracht werden. Die Verarbeitung beruht auf dem berechtigten Interesse des Webseitenbetreibers.</p>
          <p>Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können. Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Webseite bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das unter dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren: <a href="http://tools.google.com/dlpage/gaoptout?hl=de" target="_blank" rel="noopener">Browser Add On zur Deaktivierung von Google Analytics</a>.</p>
          <p>Zusätzlich oder als Alternative zum Browser-Add-On können Sie das Tracking durch Google Analytics auf unseren Seiten unterbinden, indem Sie <a title="Google Analytics Opt-Out-Cookie setzen" onClick="gaOptout();alert('Google Analytics wurde deaktiviert');" href="#">diesen Link anklicken</a>. Dabei wird ein Opt-Out-Cookie auf Ihrem Gerät installiert. Damit wird die Erfassung durch Google Analytics für diese Website und für diesen Browser zukünftig verhindert, so lange das Cookie in Ihrem Browser installiert bleibt.</p>
          <h2>Verwendung von Scriptbibliotheken (Google Webfonts)</h2>
          <p>Um unsere Inhalte browserübergreifend korrekt und grafisch ansprechend darzustellen, verwenden wir auf dieser Website Scriptbibliotheken und Schriftbibliotheken wie z. B. Google Webfonts (<a href="http://www.google.com/webfonts/" target="_blank" rel="noopener">https://www.google.com/webfonts/</a>). Google Webfonts werden zur Vermeidung mehrfachen Ladens in den Cache Ihres Browsers übertragen. Falls der Browser die Google Webfonts nicht unterstützt oder den Zugriff unterbindet, werden Inhalte in einer Standardschrift angezeigt.</p>
          <p>Der Aufruf von Scriptbibliotheken oder Schriftbibliotheken löst automatisch eine Verbindung zum Betreiber der Bibliothek aus. Dabei ist es theoretisch möglich – aktuell allerdings auch unklar ob und ggf. zu welchen Zwecken – dass Betreiber entsprechender Bibliotheken Daten erheben.</p>
          <p>Die Datenschutzrichtlinie des Bibliothekbetreibers Google finden Sie hier: <a href="https://www.google.com/policies/privacy/" target="_blank" rel="noopener">https://www.google.com/policies/privacy/</a></p>
          <h2><strong>Änderung unserer Datenschutzbestimmungen</strong></h2>
          <p>Wir behalten uns vor, diese Datenschutzerklärung anzupassen, damit sie stets den aktuellen rechtlichen Anforderungen entspricht oder um Änderungen unserer Leistungen in der Datenschutzerklärung umzusetzen, z.B. bei der Einführung neuer Services. Für Ihren erneuten Besuch gilt dann die neue Datenschutzerklärung.</p>
          <h2><strong>Fragen an den Datenschutzbeauftragten</strong></h2>
          <p>Wenn Sie Fragen zum Datenschutz haben, schreiben Sie uns bitte eine E-Mail oder wenden Sie sich direkt an die für den Datenschutz verantwortliche Person in unserer Organisation:</p>
          <p><em>Die Datenschutzerklärung wurde mit dem </em><a href="https://www.activemind.de/datenschutz/datenschutzhinweis-generator/" target="_blank" rel="noopener"><em>Datenschutzerklärungs-Generator der activeMind AG erstellt</em></a><em>.</em></p>
        </div>
      </div>
      <div class="modal-footer">
        <a routerLink="/">Zurück</a>
      </div>
    </div>
  </div>
</div>

<footer class="footer bg-light">
  <div class="m-3">
    <div class="row">
      <div class="col-lg-6 text-lg-left my-auto">
        <p class="text-muted small mb-4 mb-lg-0">
          <span>&copy; {{currentYear}} Marek Sonnabend</span>
          <span> | </span>
          <a routerLink="/impressum">Impressum</a>
          <span> | </span>
          <a routerLink="/datenschutz">Datenschutzerklärung</a>
        </p>
      </div>
    </div>
  </div>
</footer>
